<div id="<%= dom_id medical_history %>">
  <p>
    <strong>Diagnosis:</strong>
    <%= medical_history.diagnosis %>
  </p>

  <p>
    <strong>Consultation date:</strong>
    <%= medical_history.consultation_date %>
  </p>

  <p>
    <strong>Notes:</strong>
    <%= medical_history.notes %>
  </p>

  <p>
    <strong>Patient:</strong>
    <%= medical_history.patient_id %>
  </p>

</div>
