<div id="<%= dom_id patient %>">
  <p>
    <strong>First name:</strong>
    <%= patient.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= patient.last_name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= patient.birthday %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= patient.email %>
  </p>

</div>
