<div class="card">
  <div class="card-body" id="<%= dom_id patient %>">
    <h5 class="card-title">Información del Paciente</h5>
    <p class="card-text">
      <strong>Nombre(s):</strong>
      <%= patient.first_name %>
    </p>

    <p class="card-text">
      <strong>Apellido(s):</strong>
      <%= patient.last_name %>
    </p>

    <p class="card-text">
      <strong>Fecha de nacimiento:</strong>
      <%= patient.birthday %>
    </p>

    <p class="card-text">
      <strong>Email:</strong>
      <%= patient.email %>
    </p>
  </div>
</div>
