<div class="card">
  <div class="card-body">
    <p style="color: green"><%= notice %></p>

    <%= link_to "Volver", patients_path, class: "mb-3 btn btn-secondary" %>
    <%= render @patient %>

    <div class="my-3">
      <%= link_to "Editar este paciente", edit_patient_path(@patient), class: "btn btn-primary" %>
      <br><br>
      <%= button_to "Eliminar este paciente", @patient, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    </div>
  </div>
</div>
